body {
    font-family: "Poppins", sans-serif;
}

.page-content {
    margin-top: 125px;
}

footer {
    border-top: 1px solid #c5c5c5;
    margin-top: 150px;

    p {
        color: #000000;
    }
}

.form-control {
    background-color: #e4e4e4;
}
